
<body>
    <p>
        Dear sir/mam,
        <br>
        <br>
        I hope you are doing well.
        <br>
        <br>
        I am writing to express my interest in the Python Developer position at your esteemed organization. I
        hold a B-Tech degree and specialize as a Python Full Stack Developer, with experience in technologies
        such as Python, SQL, PostgreSQL, Flask, Django, React.js, React Native, JavaScript, Node.js, HTML, CSS,
        Bootstrap, Tailwind CSS, and AWS.
        <br>
        <br>
        I have successfully completed several projects, including an e-commerce website, a flight booking
        platform, and a mobile app for e-commerce using React Native. These experiences have strengthened my skills
        in
        both frontend and backend development, as well as in problem-solving and delivering scalable solutions.
        I am excited about the opportunity to contribute to your company and believe my technical expertise and
        hands-on experience would be valuable to your team. Please find my resume attached for your review, and
        I would be glad to discuss further how I can contribute to your organization.

    </p>
    <div class="container">
        <header>
            <h1>SANGRAM KESHARI PANY</h1>
            <p><a href="tel:+917978359909">+91 7978359909</a><br><a
                    href="mailto:sangrampany546@gmail.com">sangrampany546@gmail.com</a></p>
        </header>
        <section>
            <h2>SUMMARY</h2>
            <p>
                A dedicated and results-driven professional with a B-Tech in Metallurgical Engineering, now specializing
                as a
                Python Full Stack Developer. With expertise in technologies such as Python, SQL, PostgreSQL, Flask,
                Django,
                React.js, React Native, JavaScript, Node.js, HTML, CSS, Bootstrap, Tailwind CSS, and cloud platforms
                like AWS, I
                bring a comprehensive set of skills to software development. I have successfully completed projects such
                as an e
                commerce website, a flight booking website, and most recently, an e-commerce shopping mobile app using
                React
                Native, demonstrating my proficiency in both frontend and backend development. My strong analytical
                skills,
                attention to detail, and problem-solving abilities enable me to create innovative solutions and
                actionable insights. I
                am eager to leverage my technical expertise in a challenging role to drive impactful results and
                contribute to
                innovative projects.
            </p>
        </section>

        <section>
            <h2>SKILLS</h2>
            <table>
                <tr>
                    <th>CATEGORY</th>
                    <th>SKILL SET</th>
                </tr>
                <tr>
                    <td>Programming Languages</td>
                    <td>Python, JavaScript</td>
                </tr>
                <tr>
                    <td>Frontend Technologies</td>
                    <td>HTML, CSS, Bootstrap, TailwindCSS, ReactJS, React Native</td>
                </tr>
                <tr>
                    <td>Backend Technologies</td>
                    <td>Django, Flask, FastAPI, REST API</td>
                </tr>
                <tr>
                    <td>Database Technologies</td>
                    <td>SQL, PostgreSQL</td>
                </tr>
                <tr>
                    <td>Networking</td>
                    <td>Axios, Fetch API</td>
                </tr>
                <tr>
                    <td>Version Control</td>
                    <td>Git, GitHub</td>
                </tr>
                <tr>
                    <td>Cloud & DevOps</td>
                    <td>AWS, Docker, Google Cloud Platform (GCP)</td>
                </tr>
                <tr>
                    <td>Tools & Libraries</td>
                    <td>Postman, NPM</td>
                </tr>
                <tr>
                    <td>Operating Systems</td>
                    <td>Linux, Windows</td>
                </tr>
            </table>
        </section>

        <section>
            <h2>PROJECTS</h2>
            <h3><i><u>1. E-COMMERCE MOBILE APPLICATION (REACT NATIVE & DJANGO)</u></i></h3>
            <div class="project">
                <p class="project-heading">PROJECT OVERVIEW:</p>
                <p>Developed a fully functional e-commerce mobile app, combining React Native for the front-end and
                    Django for the back-end, featuring.</p>
            </div>
            <div class="project">
                <p class="project-heading">KEYFEATURES=</p>
                <p><strong>[</strong>"User Authentication","Product Search", "Add to Cart & Wishlist","Order
                    Management","Address Management","Saved Cards","Payment Integration", "Product
                    Reviews"<strong>]</strong>
            </div>
            <div class="project">
                <p class="project-heading">TECHNOLOGIESUSED=</p>
                <p><strong>{</strong>"Framework": ["Django", "React Native"], "API": ["Rest Framework"],
                    "Authentication": ["JWT Authentication"], "Frontend": ["React Native"], "API Call": ["Axios"],
                    "Backend": ["Python"], "Database":["PostgreSQL"], "Payment Integration": ["Razorpay"]
                    <strong>}</strong>
            </div>
            <div class="project">
                <p class="project-heading">DEPLOYED ON=</p>
                <p><strong>{</strong>Amazon EC2 instance running AWS Linux<strong>}</strong>
            </div>
            <p>
                GitHub Link :-<a href="https://github.com/Sangram-Keshari-Pany/SPANY-ECOMMERCE-APK">SPANY-ECOMMERCE-APK </a>
            </p>
            <p>
                Application File Link :-<a href="https://drive.google.com/file/d/1f9jSnXdXm0HnkE3Og9FHVe0kTYsIl9z9/view">SPANY-ECOMMERCE-APK</a> 
            </p>
            
            <h3><i><u>2. FLIGHT BOOKING SYSTEM (REACT & DJANGO)</u></i></h3>
            <div class="project">
                <p class="project-heading">PROJECT OVERVIEW:</p>
                <p>Developed a full-stack flight booking application that allows users to search for flights, check
                    availability, and book tickets with an intuitive interface.</p>
            </div>
            <div class="project">
                <p class="project-heading">KEYFEATURES=</p>
                <p><strong>[</strong>"User Authentication (JWT Authentication)", "Flight Search Functionality","Dynamic
                    Seat Availability", "Booking Management", "Ticket Generation" <strong>]</strong>
            </div>
            <div class="project">
                <p class="project-heading">TECHNOLOGIESUSED=</p>
                <p><strong>{</strong>"Framework": ["Django"], "API": ["Rest Framework"], "Authentication": ["JWT
                    Authentication"], "Frontend": ["React.js"], "API Call": ["Axios"],"Backend": ["Python"], "Database":
                    ["Django SQLite3"]<strong>}</strong>
            </div>
            <p>
                GitHub Link :-{
                <a href="https://github.com/Sangram-Keshari-Pany/Flight_Booking_Frontend_React">Flight_Booking_Frontend_React</a>,
                <a href="https://github.com/Sangram-Keshari-Pany/Flight_Booking_Backend_Django">Flight_Booking_Backend_Django</a>
                }
            </p>
        </section>

        <section>
            <h2>EDUCATION</h2>
            <table>
                <tr>
                    <th>EDUCATIONAL QUALIFICATION</th>
                    <th>COURSE</th>
                    <th>INSTITUTE NAME</th>
                    <th>YEAR OF PASSING</th>
                    <th>PERCENTAGE</th>
                </tr>
                <tr>
                    <td>Software Course</td>
                    <td>Python Full Stack</td>
                    <td>Pyspider, BTM Layout</td>
                    <td>2024</td>
                    <td>80.32%</td>
                </tr>
                <tr>
                    <td>Graduation</td>
                    <td>B-TECH (Metallurgical and Materials Engineering)</td>
                    <td>Veer Surendra Sai University Of Technology, Burla</td>
                    <td>2023</td>
                    <td>80.32%</td>
                </tr>
                <tr>
                    <td>Intermediate</td>
                    <td>Diploma (Metallurgical and Materials Engineering)</td>
                    <td>Indira Gandhi Institute Of Technology, Sarang</td>
                    <td>2020</td>
                    <td>59.84%</td>
                </tr>
                <tr>
                    <td>Matriculation</td>
                    <td>High School Certificate (HSC) course</td>
                    <td>Sanda High School, Sanda</td>
                    <td>2017</td>
                    <td>71.32%</td>
                </tr>
            </table>
        </section>
    </div>
    <p>
        <br>
        Thank you for your time and consideration. I look forward to the opportunity to connect.
        <br>
        <br>
        Best regards,
        <br>
        Sangram Keshari Pany
        <br>
        Contact - 7978359909
        <br>
        LinkedIn Profile - https://www.linkedin.com/in/sangram-keshari-pany/

    </p>
</body>

